# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
.venv/
venv/
ENV/
env/
*.env

# IDE / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Uvicorn / FastAPI
*.db   # if you ever create SQLite for testing
*.sqlite3
